<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Monitoring Tab -->
  <ion-tab title="Monitoring" icon-off="ion-ios-loop" icon-on="ion-ios-loop-strong" href="#/tab/monitoring">
    <ion-nav-view name="tab-monitoring"></ion-nav-view>
  </ion-tab>

  <!-- Ranging Tab -->
  <ion-tab title="Ranging" icon-off="ion-ios-speedometer-outline" icon-on="ion-ios-speedometer" href="#/tab/ranging">
    <ion-nav-view name="tab-ranging"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
