/* Empty. Add your own CSS if you like */

/*
* Home page
*/
.spinner-center svg {
  position: absolute;
  left: 50%;
  margin-left: -14px;
}
.item-note {
  margin-top: -26px;
  font-size: 14px;
  font-style: italic;
  color: seagreen;
}
.item-message {
  overflow: visible !important;
  white-space: normal !important;
  padding-right: 32px;
}
.tab-item .icon {
  height: 28px !important;
  font-size: 28px !important;
}

/*
* Settings page
*/